# Node modules und abhängige Builds
node_modules/
build/

# Betriebssystem-spezifische Dateien
.DS_Store
Thumbs.db

# Log-Dateien
npm-debug.log*
yarn-error.log

# IDE / Editor-spezifische Verzeichnisse
.vscode/
.idea/