.dbw-partner-slider-editor-wrapper {
	border: 1px solid #ccc;
	padding: 20px;
	background: #f9f9f9;
}

.dbw-partner-slider-editor {
	.dbw-partner-slider-images {
		display: flex;
		flex-wrap: wrap;
		gap: 15px;
		margin-bottom: 20px;

		.dbw-partner-slider-image {
			background: #fff;
			border: 1px solid #ddd;
			padding: 10px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			min-width: 120px;

			img {
				display: block;
				max-height: 50px;
				margin-bottom: 10px;
			}

			.dbw-remove-button {
				margin-top: 10px;
				color: #b32d2e;
				font-size: 12px;
			}

			.components-base-control__field {
				width: 100%;
			}
		}
	}

	.components-button {
		margin-top: 10px;
	}
}
